*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color:rgb(255, 248, 248) ;
}
img{ width: 600px;
   animation: infinite batida-coração 1s;
}
@keyframes batida-coração{
    0%{ width 600px;}
    50%{ width: 650px;}
    100%{500px;}
}

